name: examplify # your Dart package name, which is separate from the Android application ID. 
# The Android-specific identifiers that need to match are:
# - applicationId in build.gradle
# - package in AndroidManifest.xml
# - One of the package names in google-services.json

description: An example app for Boxify, comparable to Weezify app. To be used for open source development of Boxify.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1
environment:
  sdk: '>=3.3.0 <4.0.0'
  flutter: 3.24.1

dependencies:
  flutter:
    sdk: flutter

  boxify:
    path: ../../boxify

  # If you were to deploy this app with GitHub Actions or CodeMagic, you would use the following instead of the above:
  # (You could put this in a separate file, `pubspec_overrides.yaml`, and not commit it to the repo)
  # boxify:
  #   git:
  #     url: https://github.com/riverscuomo/boxify.git
  #     ref: main  # or any branch/tag

  material_design_icons_flutter: 7.0.7296
 
dev_dependencies:

  build_runner: ^2.1.7
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.13.1
  dependency_validator: ^3.0.0 # flutter pub run dependency_validator 
  flutter_lints: ^3.0.1
  integration_test:
    sdk: flutter
  lints: ^3.0.0

  flutter_native_splash: ^2.0.1+1

flutter_native_splash:
  color: "#189BCC"  # Weezer blue color
  image: "assets/images/rc.png"  # Splash image
  color_dark: "#189BCC"  # Dark mode color
  image_dark: "assets/images/rc.png"  # Dark mode image
  android_12:
    color: "#189BCC"
    image: "assets/images/rc.png"
    color_dark: "#189BCC"  # Dark mode color for Android 12+
    image_dark: "assets/images/rc.png"  # Dark mode image for Android 12+




# The following section is specific to Flutter.
flutter_icons:
  # image_path: "assets/icons/rc.png"
  android: true
  ios: true

flutter:
  uses-material-design: true
  assets:    
    - assets/data/
    - assets/icons/
    - assets/images/
    - assets/svg/



